div#blok1_tomczyk { width: 621px; background-color: green; color: white;}
div#blok2_tomczyk { width: 621px; background-color: green; color: white;}
div#blok3_tomczyk { width: 621px; background-color: green; color: white;}

div#blok1_tomczyk:hover { background-color: silver; font-size: 20mm;}
div#blok2_tomczyk:hover { background-color: yellow; font-size: 20mm;}
div#blok3_tomczyk:hover { background-color: turquoise; font-size: 20mm;}



/* hover; pseudoklasa która powoduje aktywowanie elementu po naruszeniu na niego kursorem, np zmiana koloru
Mateusz Tomczyk */
